body {
    background-color: black;
    color: white;
    text-align: center;
}

#user_name {
    font-size: 30px;
    font-weight: bold;
    color: darkseagreen;
    /*    padding-bottom: 5px;*/
}

#pass {
    font-size: 20px;

}

#pass:before {
    content: "|";
    color: darkseagreen;
}

#pass:after {
    content: "|";
    color: darkseagreen;
}

input {
    border-radius: 15px;
    border-color: red;
    background-color: black;
    text-align: center;
    line-height: 20px;
    color: white;
    margin: 5px;
}

#turn {
    background-color: red;
    width: 100px;
}